<!DOCTYPE html>
<html>
  <head>
    <title>FriendlyCharacterGenerator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!--
  source: https://learn.co/lessons/page-specific-javascript-rails
  This class code/erb interpolation creates a custom class for
  the body of each view loaded by each controller
  (May be unnecessary once _form partials are implemented!)
  -->
  <body class="<%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
